<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music sharing for the streaming generation - Pogggo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <section class="hero is-fullheight has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-white">
                    Music sharing, simplified.
                </h1>
                <h2 class="subtitle has-text-white">
                    Pogggo is the music sharing application that allows you to easily share your favorite tunes with friends with a single link.
                </h2>
            </div>
        </div>
    </section>
    <script src="javascripts/hero.js"></script>
</body>
</html>