<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music sharing for the streaming generation - Pogggo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj|Work+Sans:400,800" rel="stylesheet">
</head>
<body>
    <section id="landingPageHeroSection" class="hero is-fullheight has-text-centered">
        <nav id="landingPageNavbar" class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="localhost:3000"> <!-- NOTE: Set to published url once live. -->
                    <img src="images/pogggo-full.png" alt="Pogggo: A music sharing application for the streaming generation." width="112" height="28">
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item has-text-white">
                        <p>Sign up</p>
                    </a>
                    <a class="navbar-item has-text-white">
                        <p>Log in</p>
                    </a>
                </div>
            </div>
        </nav>
        <div id="landingPageHeroBody" class="hero-body">
            <div class="container">
                <h1 id="hero-title" class="title has-text-white is-size-1">
                    Music sharing, simplified.
                </h1>
                <h2 id="hero-subtitle" class="subtitle has-text-white">
                    Pogggo is the music sharing app that lets you share your favorite tunes with friends using a single link.
        </div>
    </section>
    <script src="javascripts/hero.js"></script>
</body>
</html>