#landingPageHeroSection {
    background-image: url("../images/hero-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#landingPageNavbar {
    background-color: rgba(33, 33, 33, 1);
    transition-property: background-color;
    transition-duration: 3s;
}

.navbar-menu>div>a:hover {
    background-color: inherit;
}

#landingPageHeroBody {
    background-color: rgba(33, 33, 33, 1);
    transition-property: background-color;
    transition-duration: 3s;
}

#hero-title {
    font-family: 'Work Sans', sans-serif;
}

#hero-subtitle {
    font-family: 'Taviraj', serif;
}

a {
    color: inherit;
}

.image.image--circle {
    border-radius: 50%;
}

.title--circle {
    margin-top: 10px;
}

.columns--slim-form {
    justify-content: center;
}

.column--slim-form {
    margin-left: 0;
    max-width: 381px;
}

.control.control--slim-form {
    display: flex;
    justify-content: center;
}

.terms-notice {
    font-size: small;
}

.label.label--password {
    font-size: small;
}

.checkbox.checkbox--remember {
    font-size: smaller;
}

section.section--login {
    height: calc(100vh - 233px);
}

/* Media Queries */

@media screen and (max-width: 1087px) {
    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
        align-items: stretch;
        display: flex;
        width: -moz-available;
        /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;
        /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        box-shadow: none;
        background-color: transparent;
    }
}

@media screen and (max-width: 1087px) {
    .navbar-end {
        flex-grow: 1;
        flex-shrink: 0;
        box-shadow: none;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1090px) {
    #librariesPageFilter {
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 769px),
print {
    .column.is-offset-one-quarter.column.column--slim-form {
        margin-left: 0;
    }
}